<!--templates/registration/login.html-->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link href="css/common.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">
{% block content %}
<form method="post">
    {% csrf_token %}
		<div class="wrap">
		<h1><img src="/static/img/logo.png" class="mainLogo"></h1>
		<div class="loginB">
	    <div class="loginIDB">
		<input type="text" id="loginID" placeholder="학번을 입력해주세요">
		</div>
		<div class="loginPWB">
			<input type="password" id="loginPW" placeholder="패스워드를 입력해주세요">
		</div>
		<button type="submit" class="sButton">로그인</button>
</form>
			<a class="createUser clearfix">회원가입</a>
			<a class="idFine clearfix">아이디 찾기</a>
			<a class="passwordFine clearfix">비밀번호 찾기</a>
			<div class="createTool">
				<p>지금 바로 회원가입하시고,<br>더 많은 정보를 만나보세요</p>
			</div>
			<p class="gubun"></p>
			<a class="privatePolicy">개인정보처리방침</a>
			<p class="userHR">|</p>
			<a class="userRull">이용약관</a>
			<p class="userHR">|</p>
			<a class="voc">고객의 소리</a>
		</div>
	</div>
</form>


{% endblock %}
