{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}비밀번호 변경{% endblock %}


{% block content %}
<a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="" class="mainLogo mb-5"></a>
{% if form.errors %}
    {% for field in form %}
        {% for ferror in field.errors %}
            <div class="alert alert-danger">{{ ferror }}</div>
        {% endfor %}
    {% endfor %}
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.email|add_label_class:"col-form-label" }}
        {{ form.email|add_class:"form-control"|attr:"autofocus" }}
    </div>
    <input type="submit" value="전송" class="btn btn-primary">
</form>
{% endblock %}