{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}패스워드 변경{% endblock %}

{% block content %}
<div class="h1">{{ title }}</div>
{% if form.errors %}
    {% for field in form %}
        {% for ferror in field.errors %}
            <div class="alert alert-danger">{{ ferror }}</div>
        {% endfor %}
    {% endfor %}
{% endif %}
<form action="" method="post">
    <div class="form-group">
        {{ form.old_password|add_label_class:"col-form-label font-weight-bold"}}
        {{ form.old_password|add_class:"form-control"|attr:"autofocus" }}
    </div>
    <div class="form-group">
        {{ form.new_password1|add_label_class:"col-form-label font-weight-bold"}}
        {{ form.new_password1|add_class:"form-control"|attr:"autofocus" }}
    </div>
    <div class="form-group">
        {{ form.new_password2|add_label_class:"col-form-label font-weight-bold"}}
        {{ form.new_password2|add_class:"form-control"|attr:"autofocus" }}
    </div>
    <div class="form-group">
        <input type="submit" value="변경하기" class="btn btn-primary">
    </div>
</form>
{% endblock %}