{% extends "base.html" %}

{% block content %}
{% block user_check %}
{{ block.super }}
{% endblock %}
<ul class="list-group">
    {% for store in store_list %}
        <li class="list-group-item">
            {% if store.store_image %}<img src="{{ store.store_image.url }}" alt="">{% else %}이미지 준비중{% endif %}
            <a href="{% url 'store:detail' store.pk %}">{{ store.name }}</a>
            <p>{{store.location}}</p>
            <p>{{store.description}}</p>
        </li>
    {% endfor %}
{% endblock %}