{% extends "base.html" %}
{% load static %}
{% load sorl_thumbnail %}
{% block content %}
    {% if user.is_staff %}
        <button class="btn btn-primary" onclick="location.href='{% url 'store:store_edit' store.pk %}'">수정</button>
        <button class="btn btn-primary" onclick="location.href='{% url 'store:store_delete' store.pk %}'">삭제</button>
    {% endif %}
    <div class="board">
        <div class="row board-header">
            <div class="col-sm-12">
                <div class="float-right text-center">
                    <button post-id="{{ store.pk }}" class="btn store-like">
                        {% if user in store.like_users.all %}
                            <i id="like-heart-{{ store.pk }}" class="fas fa-heart fa-2x"></i></button>
                        {% else %}
                            <i id="like-heart-{{ store.pk }}" class="far fa-heart fa-2x"></i></button>
                        {% endif %}
                    <br>
                    <span id="count-{{ store.pk }}">{{ store.like_users.count }}개</span>
                    <span id="like-user-{{ store.pk }}"></span>
                </div>
                <div class="h3">{{ store.name }}</div>
            </div>
            <div class="col-sm-12">
                <div class="writer-info">
                    <div class="profile-area">
                        <div class="profile-info">
                            <div class="nick-box">
                                {% if store.writer.nickname %}{{ store.writer.nickname }}{% else %}{{ store.writer }}{% endif %}
                            </div>
                            <div class="board-info">
                                {{ store.created_dt|date:"Y.m.d h:i"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row board-body">
            <div class="col-sm-6">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for menu in store.menu_set.all %}
                                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter }}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% if store.store_image %}
                                    {% thumbnail store.store_image "300x300" crop="center" as im %}
                                        <img src="{{ im.url }}" class="d-block carousel-image w-100" alt="">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="{% static 'img/alt_image.png' %}" class="w-100" alt="">
                                {% endif %}
                            </div>
                            {% for menu in store.menu_set.all %}
                                <div class="carousel-item">
                                    {% if menu.food_image %}
                                        {% thumbnail menu.food_image "300x300" crop="center" as im %}
                                            <img src="{{ im.url }}" class="d-block carousel-image w-100" alt="">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% static 'img/alt_image.png' %}" class="d-block w-100 carousel-image" alt="">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            <div class="col-sm-6">
                <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 20%;">설명</th>
                            <td>{{ store.description }}</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>{{ store.location }}</td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td>{{ store.phone_number }}</td>
                        </tr>
                        <tr>
                            <th>영업시간</th>
                            <td>{{ store.running_time }}</td>
                        </tr>
                        <tr>
                            <th>메뉴</th>
                            <td>
                                {% for menu in store.menu_set.all %}
                                    {{ menu.name }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="map" style="width:100%;height:400px;"></div>
            </div>
        </div>
        <div class="row mt-3 body-footer">
                <div class="col-md-12 mb-3">
                    <div>
                        <b>TAGS</b> <i class="fas fa-tag"></i>
                        {% load taggit_templatetags2_tags %}
                        {% get_tags_for_object object as "tags" %}
                        {% for tag in tags %}
                            <a href="{% url 'helpers:tagged_object_list' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                        &emsp;
                        <a href="{% url 'helpers:tag_cloud' %}"><span class="btn btn-info btn-sm">TagCloud</span></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        {% if form.errors %}
                            <div class="alert alert-danger">{{ form.errors }}</div>
                        {% endif %}
                        <form action="" method="post" id="multiForm">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.text }}
                            </div>
                            <input id="writeComment" type="submit" value="작성" class="btn btn-primary">
                        </form>
                        <div class="comment-wrapper"></div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% block extra-script %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_JAVASCRIPT }}&libraries=services"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch('{{store.location}}', function (result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: `<div style="width:150px;text-align:center;padding:6px 0;">{{store.name}}<br><a href="https://map.kakao.com/link/map/{{store.name}},${coords.Ha},${coords.Ga}" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/{{store.name}},33.450701,126.570667" style="color:blue" target="_blank">길찾기</a></div>`
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
    </script>
    <script>
        var MyGlobal = {
            url: "{% url 'store:like' %}",
            detailUrl: "{{ store.get_absolute_url }}",
            commentListUrl: "{% url 'store:comment' store.slug %}",
            commentCreateUrl: "{% url 'store:comment_create' store.slug %}",
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    </script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/detail_page.js' %}"></script>
{% endblock %}