{% extends 'base.html' %}
{% load static %}
{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<style>
    .board-body{
        min-height: 150px;
    }
</style>
{% endblock %}
{% block content %}

<div class="d-flex flex-row-reverse">

</div>
<div class="row board-header">
    <div class="col-sm-12">
        <div class="float-right text-center">
            <button post-id="{{ userboard.pk }}" class="btn userboard-like">
                {% if user in userboard.like_users.all %}
                    <i id="like-heart-{{userboard.pk}}" class="fas fa-heart fa-2x"></i></button>
                {% else %}
                    <i id="like-heart-{{userboard.pk}}" class="far fa-heart fa-2x"></i></button>
                {% endif %}
            <br>
            <span id="count-{{ userboard.pk }}">{{ userboard.like_users.count }}개</span>
            <span id="like-user-{{ userboard.pk }}"></span>
        </div>
        <div class="h1">{{ userboard.title }}</div>
        <span class="h5">{{ userboard.writer }}</span> {{ userboard.created_dt|date:"Y.m.d h:i"}}
    </div>
</div>
<hr>
<div class="row board-body">
    <div class="col-md-11">
        <div class="col">{{ userboard.content|safe}}</div>
    </div>
</div>
<hr>
<button class="btn btn-primary mb-3 p-2" onclick="location.href='{% url 'board:post_edit' userboard.pk %}'">수정</button>
<button class="btn btn-primary mb-3 p-2" onclick="location.href='{% url 'board:post_delete' userboard.pk %}'">삭제</button>
<div class="row body-footer">
    <div class="col-md-11">
        <div>
            <b>TAGS</b> <i class="fas fa-tag"></i>
            {% load taggit_templatetags2_tags %}
            {% get_tags_for_object object as "tags" %}
            {% for tag in tags %}
            <a href="{% url 'helpers:tagged_object_list' tag.name %}">{{tag.name}}</a>
            {% endfor %}
            &emsp;
            <a href="{% url 'helpers:tag_cloud' %}"><span class="btn btn-info btn-sm">TagCloud</span></a>
        </div>
        <br>
        <div id="disqus_thread"></div>
    </div>
</div>
<hr>
{% endblock %}

{% block extra-script %}
<script>
    var MyGlobal = {
        url: "{% url 'board:like' %}",
    }
</script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
    this.page.identifier = '{{ disqus_id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    this.page.url = '{{ disqus_url }}';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.title = '{{ disqus_title }}'
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ disqus_short }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}