{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<style>
    .board-footer {
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-11">
        <div class="h1"><a class="text-dark" href="{% url 'board:index' %}">게시판</a></div>
        <button type="button" class='btn btn-primary float-right mb-1' onclick="location.href='{% url 'board:post_add' %}'">게시글 작성</button>
    </div>
</div>
<div class="row">
    <div class="col" id="pc">
        <table class="table board-table">
          <thead>
            <tr>
              <th scope="col" style="width: 55%;">제목</th>
              <th scope="col" style="width: 15%;">글쓴이</th>
              <th scope="col" style="width: 10%;">추천</th>
              <th scope="col" style="width: 20%;">날짜</th>
            </tr>
          </thead>
          <tbody>
            {% for item in board_list %}
            <tr>
              <td><a class="text-dark text-truncate" href="{% url 'board:detail' item.slug %}">{{ item.title }}</a></td>
              <td class="author">{% if item.writer.profile.nickname %}{{ item.writer.profile.nickname }}{% else %}{{ item.writer }}{% endif %}</td>
              <td class="text-primary voteNum">{{ item.like_count }}</td>
              <td class="time">{{ item.created_dt|naturalday }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="col p-0" id="mobile">
        <ul class="list-group">
            {% for item in board_list %}
            <li class="list-group-item p-2 board-item">
                <div style="width:100%;">
                    <div class="text-truncate">
                        <a href="{{item.get_absolute_url}}" class="text-dark font-weight-bold" style="font-size: 13px;">{{item.title}}</a>
                    </div>
                    <div class="d-flex">
                        <div class="flex-fill">
                            <span class="text-primary"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{item.like_count}}</span>
                            <span>{{item.created_dt|naturalday}}</span>
                        </div>
                        <div class="flex-fill">
                            <div class="d-flex justify-content-end">
                                {% if item.writer.profile.nickname %}{{ item.writer.profile.nickname }}{% else %}{{ item.writer }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row mt-5">
    <div class="col board-footer">
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span>Prev</span></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#"><span>Prev</span></a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}
                        <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><span>Next</span></a>
                        </li>
                    {% else %}
                        <li {% if not page_obj.has_next %}class="page-item disabled"{% endif %}>
                            <a class="page-link" href="#"><span>Next</span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}