{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<style>
    .board-footer {
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-11">
        <div class="h1"><a class="text-dark" href="{% url 'board:index' %}">게시판</a></div>
        <button type="button" class='btn btn-primary float-right mb-1' onclick="location.href='{% url 'board:post_add' %}'">게시글 작성</button>
    </div>
</div>
<table id="pc" class="table board-table">
  <thead>
    <tr>
      <th style="width:60%;">제목</th>
      <th style="width:15%;">글쓴이</th>
      <th style="width:5%;">추천</th>
      <th style="width:20%;">날짜</th>
    </tr>
  </thead>
  <tbody>
    {% for item in board_list %}
    <tr>
      <td><a class="text-dark" href="{% url 'board:detail' item.slug %}">{{ item.title }}</a></td>
      <td class="author">{% if item.writer.profile.nickname %}{{ item.writer.profile.nickname }}{% else %}{{ item.writer }}{% endif %}</td>
      <td class="text-primary voteNum">{{ item.like_count }}</td>
      <td class="time">{{ item.created_dt|naturalday }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul id="mobile" class="list-group">
    {% for item in board_list %}
    <li class="list-group-item board-item">
        <a href="{{item.get_absolute_url}}" class="text-dark font-weight-bold">{{item.title}}</a>
        <div class="board-item-info">
            <span class="text-primary"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{item.like_count}}</span>
            <span>{{item.created_dt|naturalday}}</span>
        </div>
        <div class="board-item-writer">{% if item.writer.profile.nickname %}{{ item.writer.profile.nickname }}{% else %}{{ item.writer }}{% endif %}</div>
    </li>
    {% endfor %}
</ul>
<div class="row">
    <div class="col board-footer">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number}}"><i class="fas fa-arrow-circle-left"></i></a>
        {% endif %}
        Page {{page_obj.number }} of {{ page_obj.paginator.num_pages }}
        <nav aria-label="Page navigation">
            {{ board_list.page_range }}
            {{ paginator.page_range }}
            <ul class="pagination">
                {% for page_item in paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="">{{ forloop.counter }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
        {% endif %}
    </div>
</div>
{% endblock %}