{% extends 'base.html' %}

{% block extra-style %}
<style>
    .board-footer {
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
<div class="row mt-lg-5">
    <div class="col">
        <button type="button" class='btn btn-primary float-right' onclick="location.href='{% url 'board:post_add' %}'">
            게시글 작성
        </button>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">닉네임</th>
      <th scope="col">날짜</th>
      <th scope="col">추천</th>
    </tr>
  </thead>
  <tbody>
    {% for item in board_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'board:detail' item.slug %}">{{ item.title }}</a></td>
      <td>{% if item.writer.profile.nickname %}{{ item.writer.profile.nickname }}{% else %}{{ item.writer }}{% endif %}</td>
      <td>{{ item.created_dt }}</td>
      <td>{{ item.like_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="row">
    <div class="col board-footer">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number}}"><i class="fas fa-arrow-circle-left"></i></a>
        {% endif %}
        Page {{page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
        {% endif %}
    </div>
</div>
{% endblock %}