.fa-heart {
    color: red;
}

/* board css */
.board-table thead tr th {
    text-align: center;
}
.board-table .author, .voteNum, .time{
    text-align: center;
    white-space: normal;
}

@media (max-width: 768px) {
    #pc{
        display: none;
    }
    #mobile{
        display: block;
    }
    .mainLogo {
        width: 100%;
    }
}
@media (min-width: 769px) {
    #pc{
        display: block;
    }
    #mobile{
        display: none;
    }
    .mainLogo {
        width: 50%;
    }
}

.board-item {
    height: 70px;
    position: relative;
}
.board-item-info {
    position: absolute;
    left: 10
}
.board-item-writer {
    position: absolute;
    right: 10px;
}

/* store css*/
.store-body {
    height: 1200px;
}
.store-body-description {
    height: 300px;
}
.carousel-image {
    filter: brightness(50%);
}