{% extends "base.html" %}

{% block content %}
<div class="h1">내가 쓴 글</div>
<table class="table">
    <thead>
        <tr>
            <th>제목</th>
            <th>작성날짜</th>
        </tr>
    </thead>
    <tbody>
        {% for item in mylists %}
        <tr>
            <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
            <td>{{ item.created_dt}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="h1">좋아요 누른 글</div>
<table class="table">
    <thead>
        <tr>
            <th>제목</th>
            <th>작성날짜</th>
        </tr>
    </thead>
    <tbody>
        {% for item in user.like_stores.all %}
        <tr>
            <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
            <td>{{ item.created_dt}}</td>
        </tr>
        {% endfor %}
        {% for item in user.like_boards.all %}
        <tr>
            <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
            <td>{{ item.created_dt}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}