{% extends 'base.html' %}
{% load static %}

{% block title %} 회원가입 {% endblock %}
{% block main_logo %}{% endblock %}
{% block jscode %}
<script src="https://code.jquery.com/jquery-1.12.4.js" crossorigin="anonymous"></script>
<script src="{% static 'js/sign.js' %}"></script>
{% endblock %}
{% block content %}
{% if error %}
	<h3 style="color:red">{{error}}</h3>
{% endif %}
<form action="" method="POST">
	{% csrf_token %}
	<!--{{ f.as_table }}-->
	<div class="wrap">
		<h1><img src="{% static 'img/logo.png' %}" class="mainLogo"></h1>
		<fieldset>
			<legend> - 정보 입력 - </legend>
			<p class="nameT">이름</p>
			<p class="nameI">{{ f.username }}</p>
			<p class="nameT" style="margin-bottom:20px;">닉네임</p>
			<p class="nameI" style="margin-bottom:20px;">
				{{ ef.nickname }}
<!--				<input type="text" class="signName" style="width:400px;float:left">-->
				<button style="display:block;float:left;font-size:10px;width:90px;height:42px;margin-left:10px;background-color:white;letter-spacing:2px;border:3px solid #ffbf64;font-weight:bold;cursor:pointer;">중복 확인</button>
			</p>
			<p class="nameT" style="margin-bottom:5px;">패스워드</p>
			<p class="nameI"  style="margin-bottom:5px;">{{ f.password }}</p>
			<p class="nameT" style="margin-bottom:5px;">재확인</p>
			<p class="nameI"  style="margin-bottom:5px;">{{ f.password_check }}</p>
			<p class="tellT">전화번호</p>
			<p class="tellI">
<!--				<input type="number" class="tell2">-->
				{{ ef.phone_number }}
			</p>
			<p class="addressT" style="margin-bottom:30px">거주 형태</p>
			<p class="addressI" style="margin-bottom:30px">
				{{ ef.address }}
<!--				<label>자취 <input type="radio" name="1"></label>-->
<!--				<label>가족과 동거 <input type="radio" name="1"></label>-->
			</p>
			<p class="faFT">선호 음식</p>
			<div class="faFI">
				{{ ef.faFT }}
<!--				<label style="cursor:pointer;margin-right:30px;">한식 <input type="checkbox" style="margin-left:10px;"></label>-->
<!--				<label style="cursor:pointer;margin-right:30px;">중식 <input type="checkbox" style="margin-left:10px;"></label>-->
<!--				<label style="cursor:pointer;margin-right:30px;">일식 <input type="checkbox" style="margin-left:10px;"></label>-->
<!--				<label style="cursor:pointer;margin-right:30px;">분식 <input type="checkbox" style="margin-left:10px;"></label>-->
<!--				<label style="cursor:pointer;margin-right:30px;">양식 <input type="checkbox" style="margin-left:10px;"></label><br>-->
<!--				<label style="cursor:pointer;margin-right:30px;">간편식 <input type="checkbox" style="margin-left:10px;"></label>-->
<!--				<label style="cursor:pointer;margin-right:30px;">다이어트식 <input type="checkbox" style="margin-left:10px;"></label>-->
<!--				<label style="cursor:pointer;margin-right:30px;">디저트 <input type="checkbox" style="margin-left:10px;"></label>-->
<!--				<label style="cursor:pointer;margin-right:30px;">혼밥 <input type="checkbox" style="margin-left:10px;"></label><br>-->
<!--				<label style="cursor:pointer;margin-right:30px;">배달 전문 <input type="checkbox" style="margin-left:10px;"></label>-->
<!--				<label style="cursor:pointer;margin-right:30px;">도시락 <input type="checkbox" style="margin-left:10px;"></label>-->
			</div>
			<button type="submit" class="finSign">회원가입하기</button>
		</fieldset>
	</div>
</form>
 {% endblock %}