{% extends 'base.html' %}
{% load static %}

{% block title %} 환영합니다 {% endblock %}
{% block main_logo %}{% endblock %}
{% block jscode %}
<script src="https://code.jquery.com/jquery-1.12.4.js" crossorigin="anonymous"></script>
<script src="{% static 'js/sign.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="wrap">
		<h1><img src="{% static 'img/logo.png' %}" class="mainLogo"></h1>
		<div class="agreeALL" style="position:relative;">
			<p>전체 동의
				<label for="agree4_button" class="agree4_label"></label>
			</p>
		</div>
		<div class="agreeBody_1">
			<p>이용약관 동의 <span>&nbsp;&nbsp;(필수)</span>
				<input type="checkbox" name='agree1_button' id="agree1_button"/>
				<label for="agree1_button" class="agree1_label"></label>
			</p>
			<div class="agree_1">
			제1조 목적<br>본 약관은 세상에 없는 맛을 찾다. 동국푸드는(이하 '회사'는)이 제공하는 음식과 관련된 식당정보, 관심사 등 다양한 형태로 형성된 자의적인 모임으로 상기와 관련된 서비스를 회원님께서 이용함에 있어 이용조건 및 절차에 관한 사항과 기타 필요한 사항을 규정함을 목적으로 합니다.
			<br><br>제2조 약관의 효력과 변경<br>① 서비스는 본 약관에 규정된 조항을 변경 없이 이용자가 수락하는 것을 조건으로 제공됩니다. 이용자께서 본 서비스를 사용하면 본 약관에 대하여 이용자가 동의한다는 것을 의미합니다.<br>② 회사는 약관의 규제등에 관한 법률, 전자거래 기본법, 전자서명법, 정보통신망 이용 촉진 등에 관한 법률, 방문판매등에 관한 법률, 소비자 보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br>③ 회사는 이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 개정 최소 10일 전부터 홈페이지상 공지를 통해 고지할 것입니다
			</div>
		</div>
		<div class="agreeBody_1" style="margin-top:10px">
			<p>개인정보 활용 동의<span>&nbsp;&nbsp;(필수)</span>
				<input type="checkbox" name='agree2_button' id="agree2_button"/>
				<label for="agree2_button" class="agree2_label"></label>
			</p>
			<div class="agree_1">
			개인정보보호를 위한 이용자 동의사항의 자세한 내용은 '개인정보 처리방침'을 참고하시기 바랍니다.<br><br>
			[개인정보의 수집·이용 목적]<br>- 회원제 서비스 이용에 따른 본인식별, 실명확인, 연령제한서비스 이용<br>- 고지사항 전달, 본인 의사 확인, 불만처리 등 원활한 의사소통 경로의 확보<br>- 새로운 서비스, 뉴스레터, 골프투어 등 신상품이나 이벤트 정보의 안내<br>
			</div>
		</div>
		<div class="agreeBody_1" style="margin-top:10px;height:140px;">
			<p>마케팅 활용 동의<span>&nbsp;&nbsp;(선택)</span>
				<input type="checkbox" name='agree3_button' id="agree3_button"/>
				<label for="agree3_button" class="agree3_label"></label>
			</p>
			<div class="agree_1" style="height:90px">
			마케팅 및 광고 활용에 동의하지 않으셔도 회원가입은 가능하나 이벤트 및 신규 컨텐츠 관련 메일 수신이 불가능 할 수 있습니다.
			</div>
		</div>
		<button type="button" class="nextButton">회원가입</button>
		<button type="button" class="rsButton">메인으로</button>
	</div>
{% endblock %}
