{% extends 'base.html' %}
{% load static %}

{% block title %} 회원가입 {% endblock %}
{% block main_logo %}{% endblock %}
{% block jscode %}
<script src="https://code.jquery.com/jquery-1.12.4.js" crossorigin="anonymous"></script>
<script src="{% static 'js/sign.js' %}"></script>
{% endblock %}
{% block content %}
{% if error %}
	<h3 style="color:red">{{error}}</h3>
{% endif %}
<form action="" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<h1><img src="{% static 'img/logo.png' %}" class="mainLogo"></h1>
		<label for="id">ID</label>
		{{ f.username }}
	</div>
	<div id="check-user"></div>
	<div class="form-group">
		<label for="nickname">닉네임</label>
		{{ ef.nickname }}
	</div>
	<div id="check-nickname"></div>
	<div class="form-group">
		<label for="password">비밀번호</label>
		{{ f.password }}
	</div>
	<div>
		<label for="re-password">재확인</label>
		{{ f.password_check }}
	</div>
	<div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
	<div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>
	<div class="form-group">
		<label for="phonenumber">전화번호</label>
		{{ ef.phone_number }}
	</div>
		<button type="submit" class="btn btn-outline-primary">회원가입하기</button>
</form>
 {% endblock %}

{% block extra-script %}
<script type="text/javascript">
	$(function(){
		$('#alert-success').hide();
		$('#alert-danger').hide();
		$("#loginPW-check").keyup(function(){
			var pwd1=$('#loginPW').val();
			var pwd2=$('#loginPW-check').val();
			if(pwd1 != "" || pwd2 != ""){
				if(pwd1 == pwd2){
					$("#alert-success").show();
					$("#alert-danger").hide();
				}else{
					$("#alert-success").hide();
					$("#alert-danger").show();
				}
			}
		});
	});
	// ID 조회하는 기능
	$("#loginID").keyup(function(){
		var userName = $(this).val();
		if(userName) {
			$.ajax({
				type: "POST",
				url: "{% url 'accounts:check_user' %}",
				data: {"user_name": userName, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				dataType: "json",
				success: function (data) {
					if (data.msg) {
						$('#check-user').removeClass('alert alert-danger').addClass('alert alert-success').text('사용가능합니다.');
					} else {
						$('#check-user').removeClass('alert alert-success').addClass('alert alert-danger').text('사용불가합니다.');
					}
				},
				error: function (request, status, error) {

				},
			})
		} else {
			$('#check-user').removeClass('alert alert-success alert-danger').text(' ');
		}
	});
	// 닉네임 조회하는 기능
	$("#nickName").keyup(function(){
		var nickName = $(this).val();
		if(nickName) {
			$.ajax({
				type: "GET",
				url: "{% url 'accounts:check_nickname' %}",
				data: {"user_nickname": nickName },
				dataType: "json",
				success: function (data) {
					if (data.msg) {
						$('#check-nickname').removeClass('alert alert-danger').addClass('alert alert-success').text('사용가능합니다.');
					} else {
						$('#check-nickname').removeClass('alert alert-success').addClass('alert alert-danger').text('사용불가합니다.');
					}
				},
				error: function (request, status, error) {

				},
			})
		} else {
			$('#check-nickname').removeClass('alert alert-success alert-danger').text(' ');
		}
	});
</script>
{% endblock %}