<div class="comment-list">
    {% for comment in comment_list %}
        <div class="comment-area" id="{{ comment.pk }}">
            <div class="comment-box">
                <div class="comment-nick-box"><a class="comment-nickname" href="#">{% firstof comment.writer.nickname comment.writer %}</a></div>
                <div class="comment-text-box">
                    <p class="comment-text-view">
                        <span class="text-comment">{{ comment.text }}</span>
                    </p>
                </div>
                <div class="comment-info-box">{{ comment.created_dt }}</div>
                <div class="comment_tool">
                    {% if comment.writer == request.user %}
                        <a href="javascript:void(0)" class="update-comment">수정</a>
                        <a href="javascript:void(0)" class="delete-comment" onclick="deleteComment(this)">삭제</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        댓글이 없습니다.
    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <button class="page-link" onclick=getPage({{ page_obj.previous_page_number }})><span>Prev</span></button>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"><span>Prev</span></a>
                </li>
            {% endif %}

            {% for page in page_range %}
                <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                    <button class="page-link" onclick=getPage({{ page }})>{{ page }}</button>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <button class="page-link" onclick=getPage({{ page_obj.next_page_number }})><span>Next</span></button>
                </li>
            {% else %}
                <li {% if not page_obj.has_next %}class="page-item disabled"{% endif %}>
                    <a class="page-link" href="#"><span>Next</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>