{% extends 'base.html' %}
{% load static %}
{% extra-style %}
<style>
</style>
{% endblock %}
{% block content %}
<!-- About-->
<div class="resume-section-content">
    <h1 class="mb-0">
        Dongguk
        <span class="text-primary">Food</span>
    </h1>
    <div class="subheading mb-5">
    </div>
    <p class="lead mb-5">동국대 주변 음식집과 게시판을 구현하는 프로젝트입니다.</p>
</div>
<hr class="m-0"/>
<!-- Skills-->
<div class="resume-section-content">
    <h2 class="mb-5">Skills</h2>
    <div class="subheading mb-3">Programming Languages & Tools</div>
    <div class="row">
        <div class="col">
            <h3>Front</h3>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i> HTML</li>
                <br>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i> CSS</li>
                <br>
                <li class="list-inline-item"><i class="fab fa-js-square"></i> JavaScript</li>
                <li class="list-inline-item"><i class="fab"></i></li>
            </ul>
        </div>
        <div class="col">
            <h3>Back</h3>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-python"></i> Python(Django)</li>
            </ul>
        </div>
    </div>
        {% block extra-script %}
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'scritps' %}"></script>
        {% endblock %}
{% endblock %}