{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username">
        </p>
        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'login' %}">login</a>
{% endif %}
    <br>
    <a href="{% url 'food:index' %}">동국대 맛집 알려주기</a>
    <br>
    <a href="">게시판</a>
{% endblock %}