{% extends 'base.html' %}
{% load static %}
{% load sorl_thumbnail %}

{% block extra-style %}
<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>
{% endblock %}
{% block content %}
<div class="row mt-5">
    <div class="col-sm">
    <h2>맛집 리스트</h2>
        <hr>
        <div class="d-flex flex-row-reverse mb-5">
            <a class="float-right" href="{% url 'store:index' %}">전체 보기</a>
        </div>
        <div class="row">
        {% for store in store_list %}
            <div class="col-sm-4 mb-3">
                <div class="card">
                    {% if store.menu_set.first.food_image %}
                        {% thumbnail store.menu_set.first.food_image "348x255" crop="center" as im %}
                        <img class="card-img-top" src="{{ im.url }}" alt="">
                        {% endthumbnail %}
                    {% else %}
                        <img class="card-img-top" src="{% static 'img/alt_image.png' %}" style="width:100%; height: 255px;">>
                    {% endif %}
                    <div class="card-body text-center">
    <!--                    <h5 class="card-title text-center">{{ store.name }}</h5>-->
                        <h5 class="card-title text-center">
                        {% if store.category == "restaurant" %}
                            음식집
                        </h5>
                        <p class="card-text" style="height: 50px;">
                            맛있는 음식들을 소개해드립니다!
                        </p>
                        {% elif store.category == "bar" %}
                            술집
                        </h5>
                        <p class="card-text" style="height: 50px;">
                            분위기 좋은 술집들을 소개해드립니다!
                        </p>
                        {% else %}
                            카페
                        </h5>
                        <p class="card-text" style="height: 50px;">
                            달콤하고 맛있는 디저트들을 소개해드립니다!
                        </p>
                        {% endif %}
                        <a href="{% url 'store:category' store.category %}" class="btn btn-primary">더보기</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}