{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="tag-cloud">
            {% load taggit_templatetags2_tags %}
            {% get_tagcloud as tags %}
            {% for tag in tags %}
            <span class="tag-{{tag.weight|floatformat:0}}">
                <a href="{% url 'helpers:tagged_object_list' tag.name %}">{{tag.name}}({{tag.num_times}})</a>
            </span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}